
<div class="login-container">
  <div class="content">
    <div class="logo">
      <img src="assets/img/tradeline_logo2.png">
    </div>
    <form id="loginForm" (ngSubmit)="login()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" id="email" class="form-control" required>
            <label class="form-control-placeholder" for="email">E-mail Address</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="password" id="password" class="form-control" required>
            <label class="form-control-placeholder" for="password">Password</label>
          </div>
        </div>
      </div>
      <div class="row text-center mat-buttons">
        <div class="col-md-6 col-xs-12 col-sm-12">
          <button type="submit" class="btn btn-primary col-md-12 col-xs-12 col-sm-12">Login</button>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
          <button type="button" class="btn btn-default col-md-12 col-xs-12 col-sm-12">Forgot Password</button>
        </div>
      </div>
    </form>
  </div>
</div>