<div class="footer">
  <div class="container">
    <div class="col-md-4 col-sm-4 ">
      <div class="col-md-5 footer-img">
          <img src="http://businessmatching.dti.gov.ph/flat/img/gov-dti.jpg" class="dti-logo-footer" height="145">
      </div>
      <div class="col-md-7 footer-text">
          Republic of the <br> Philippines
          <br>
          <br>
          All content is in the <br> public domain unless <br> otherwise stated.
      </div>
    </div>
    <div class="col-md-4 col-sm-4  dti-footer-contents">
      <div class="col-md-12">
          About GOVPH<br>
          <br>
          Learn more about the Philippine government, its structure, how government works and the people behind it.<br>
          <br>
          <a href="http://www.gov.ph/">Official Gazette</a><br>
          <a href="http://data.gov.ph/">Open Data Portal</a><br>
          <a href="http://www.gov.ph/feedback/idulog/">Send us your feedback</a>
      </div>
    </div>
      <div class="col-md-4 col-sm-4  dti-footer-contents">
        <div class="col-md-12">
            Government Links
            <br>
            <br>
            <a href="http://president.gov.ph/">Office of the President</a><br>
            <a href="http://ovp.gov.ph/">Office of the Vice President</a><br>
            <a href="http://www.senate.gov.ph/">Senate of the Philippines</a><br>
            <a href="http://www.congress.gov.ph/">House of Representatives</a><br>
            <a href="http://sc.judiciary.gov.ph/">Supreme Court</a><br>
            <a href="http://ca.judiciary.gov.ph/">Court of Appeals</a><br>
            <a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a>
        </div>
      </div>
  </div>
</div>