section#buyer{
    margin-top:80px;
    padding: 40px 0 0 0;
    border-top: 0;
    margin-bottom: 0 !important;
    background-color: rgba(0,0,0,0.05);
    border-bottom: rgba(0,0,0,0.05) 1px solid;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
#buyer h1{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 300;
    float:left;
}
#buyer .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "•";
}
#buyer .breadcrumb-item.active{ color: #bbbbbb; }
#buyer .breadcrumb-item a,
#buyer .breadcrumb-item {
    color:#333;
    font-size:16px;
}
#buyerForm label{
    font-weight: 100;
    padding-top: 7px;
    display:block;
}
#buyerForm code{
    padding-top:1px;
    background: #E5EEF5 !important;
    color: #2196F3 !important;
}
#buyerForm code.specify-field{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e !important;
    background-color: #f9f2f4 !important;
    border-radius: 3px;
}
#buyerBody ul {
    list-style: none;
    display: inline-block;
}
#buyerBody ul li i {
    font-size:24px;
}
#buyerBody ul li {
    float:left;
    padding: 10px 30px;
    color: #CCC;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
#buyerBody ul li.active,
#buyerBody ul li.active:not(:last-child):after,
#buyerBody ul li.active:not(:first-child):before {
   color: #2196F3;
}
#buyerBody ul li:not(:last-child):after {
    content: " ";
    border: 1px solid;
    width: 67px;
    color: #CCC;
    height: 1px;
    position: absolute;
    top: 22px;
    left: 120px;
}

#buyerBody ul li:not(:first-child):before{
    content: " ";
    border: 1px solid;
    color: #CCC;
    width: 66px;
    height: 1px;
    position: absolute;
    top: 22px;
    right: 105px;
}

.ng-select{border-radius: 4px;}
input[type="text"].form-control:focus, 
input[type="password"].form-control:focus, 
input[type="email"].form-control:focus, 
textarea.form-control:focus {
    border: 2px solid #222 !important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
input.form-control.has-error,
select.form-control.has-error,
.ng-select.has-error,
textarea.form-control.has-error,
.has-error .form-control {
    border: 2px solid #E51C23 !important;
}
.buyer-buttons .btn{
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.buyer-buttons #btnNext i,
.buyer-buttons #btnSave i{ margin-left:10px;}
.buyer-buttons #btnPrev i{ margin-right:10px;}
#buyerBody ul li.done,
#buyerBody ul li.done:not(:last-child):after{
    color:#5cb85c;
}
#buyerBody ul li.not-valid, 
#buyerBody ul li.not-valid:not(:last-child):after,
#buyerBody ul li.not-valid:not(:first-child):before {
    color: #E51C23;
}
.ui-select-container .form-control:focus {
    border:2px solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.not-valid{
    color: #E51C23 !important;
}
.radio label{
    display: block;
}

.radio input{
    display: none;
}
.radio input[type="radio"]:checked + label i{
    background-image: url(../../../../assets/img/radio-button.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
}
.radio label i{
    width: 19px;
    height: 19px;
    display: inline-block;
    border:2px solid #CCC;
    border-radius:50%;
    background-size: 12px;
    position: relative;
    top: 1px;
    left: -2px;
}
.radio .col-md-6 label{
    padding-left:0;
}
.radio-error,
.checkbox input[type="checkbox"].has-error:after {border:2px solid #E51C23 !important;}
.checkbox input[type="checkbox"]{
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    outline: none;
    margin-top: 2px;
}
.checkbox input[type="checkbox"]:checked:after, 
.checkbox input[type="checkbox"]:checked:after, 
.checkbox input[type="checkbox"]:checked:after {
    background-color: #2196f3;
    border-color: #2196f3;
}
input[type="checkbox"]:checked:before, 
.checkbox input[type="checkbox"]:checked:before, 
.checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox input[type="checkbox"]:after, 
.checkbox input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #CCC;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}
@media only screen and (max-width: 768px) {
    #buyerBody ul.step-wizard li:first-child:after,
    #buyerBody ul.step-wizard li:last-child:before,
    #buyerBody ul.step-wizard li:nth-child(2):after,
    #buyerBody ul.step-wizard li:nth-child(2):before,
    #buyerBody ul.step-wizard li:nth-child(3):after,
    #buyerBody ul.step-wizard li:nth-child(3):before,
    #buyerBody ul.step-wizard li:nth-child(4):after,
    #buyerBody ul.step-wizard li:nth-child(4):before,
    #buyerBody ul.step-wizard li:nth-child(5):after,
    #buyerBody ul.step-wizard li:nth-child(5):before{
        display: none
    }
    #buyerBody ul.step-wizard{
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }
    #buyerBody ul li{
        float: none;
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 55px;
        padding: 5px;
        font-size: 10px;
        margin: auto;
        text-align: center;
    }
    #buyerBody .is-text-mobile {
        text-align: left;
    }
    #buyerBody p.ci,#buyerBody p.cp{
        word-break: break-all;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 375px){
    #buyerBody ul.step-wizard li:first-child:after,
    #buyerBody ul.step-wizard li:last-child:before,
    #buyerBody ul.step-wizard li:nth-child(2):after,
    #buyerBody ul.step-wizard li:nth-child(2):before,
    #buyerBody ul.step-wizard li:nth-child(3):after,
    #buyerBody ul.step-wizard li:nth-child(3):before,
    #buyerBody ul.step-wizard li:nth-child(4):after,
    #buyerBody ul.step-wizard li:nth-child(4):before,
    #buyerBody ul.step-wizard li:nth-child(5):after,
    #buyerBody ul.step-wizard li:nth-child(5):before{
        display: none
    }
    #buyerBody ul.step-wizard{
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }
    #buyerBody ul li{
        float: inherit;
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 55px;
        padding: 5px;
        font-size: 10px;
        margin: auto;
        text-align: center;
    }
    #buyerBody .is-text-mobile {
        text-align: left;
    }
}