<!-- <header>
  <app-nav></app-nav>
</header> -->

<section id="register">
  <div class="container">
    <h1 class="text-uppercase">Registration</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Registration</li>
        </ol>
      </nav>
  </div>
</section>
<section id="registerBody">
  <div class="bm-img">
    <img src="http://businessmatching.dti.gov.ph/flat/img/article.jpg" class="img-responsive">
  </div>
  <div class="container">
    <div class="container-fluid">
        <div class="box hvr-float-shadow">
            <div class="thumbnail">
              <a [routerLink]="['/buyer-form']">
                <div class="box-img">
                  <img src="http://businessmatching.dti.gov.ph/flat/img/w2.png">
                </div>
              </a>
              <div class="caption">
                <h2>BUYER</h2>
              </div>
            </div>
        </div>
        <div class="box hvr-float-shadow">
            <div class="thumbnail">
                <a [routerLink]="['/supplier-form']">
                  <div class="box-img">
                    <img src="http://businessmatching.dti.gov.ph/flat/img/w1.png">
                  </div>
                </a>
                <div class="caption">
                  <h2>SUPPLIER</h2>
                </div>
              </div>
        </div>
    </div>
  </div>
</section>

<!-- <footer>
  <app-nav-footer></app-nav-footer>
</footer> -->