<!-- main nav -->
<nav id="mainNavbar" class="navbar navbar-default hidden-sm hidden-xs" data-spy="affix" data-offset-top="197" style="width: 100%;z-index:2">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand govph" href="#">GOVPH</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="parent-nav nav navbar-nav">
          <li class="parent-menu"><a [routerLink]="['']">Home</a></li>
          <li class="parent-menu dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transparency Seal</a>
            <ul class="submenu dropdown-menu" style="z-index: 1">
              <li><a href="https://www.dti.gov.ph/transparencyseal/citizenscharter">Citizen's Charter</a></li>
              <li><a href="http://www.dti.gov.ph/transparencyseal/philgeps-procurement">PhilGEPS Procurement</a></li>
              <li><a href="http://www.dti.gov.ph/transparencyseal/bac-resources">BAC Resources</a></li>
            </ul>
          </li>
          <li class="parent-menu"><a href="http://www.dti.gov.ph/sitemap">Sitemap</a></li>
          <li class="parent-menu"><a href="http://www.dti.gov.ph/faqs">FAQs</a></li>
          <li class="parent-menu"><a href="http://www.dti.gov.ph/contact">Contact</a></li>
        </ul>
        <div class="pull-right pst">
            <p>Philippine Standard Time:</p>
            <p id="datetime"></p>
            <p><a href="http://web.pagasa.dost.gov.ph/index.php/philippine-standard-time">source: PAGASA</a></p>
        </div>
      </div>
    </div>
  </nav> 
  <!-- end  main nav -->
  <div>
      <div>
        <!-- nav mobile -->
        <div class="nav-mobile">
          <a class="btn btn-default btn-bar pull-right hidden-lg hidden-md" >
            <i class="fa fa-bars"></i>
          </a>
        </div>
  
        <div class="nav-mobile-container pull-right" style="display:none">

          <a href="#" class="btn btn-default btn-arrow-right pull-right">
            <i class="fa fa-angle-right"></i>
          </a>
          <hr>
  
          <ul>
              <li><a>GOVPH</a></li>
              <li><a>Home</a></li>
              <li><a href="https://www.dti.gov.ph/transparencyseal/citizenscharter">Citizen's Charter</a></li>
              <li><a href="http://www.dti.gov.ph/transparencyseal/philgeps-procurement">PhilGEPS Procurement</a></li>
              <li><a href="http://www.dti.gov.ph/transparencyseal/bac-resources">BAC Resources</a></li>
              <li><a href="http://www.dti.gov.ph/sitemap">Sitemap</a></li>
              <li><a href="http://www.dti.gov.ph/faqs">FAQs</a></li>
              <li><a href="http://www.dti.gov.ph/contact">Contact</a></li>
          </ul>
        </div>
        <!-- end nav mobile -->

 
        <div class="row is-mobile mobile-search-container col-sm-12 col-xs-12 hidden-md hidden-lg">
          <form>

          </form>
        </div>
      </div>
    </div>
    
  