<body>

<div class="companyBody">
<div class="row m-header">
    <div class="col-md-6">
      <h4><p class="companyTitle">Jiangmen Tops Silicone Plastic Products Co., Ltd.</p></h4>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
</div>    

<div class="m-content">
  <div class="row">
    <div class="col-md-5 div-m-img">

        <div class="row">
          <div class="col-md-12 div-mm-img">
              <img [src]="imageMain" class="m-img">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 div-s-img">
              <img [src]="image1" class="s-img" (mouseenter) = "onHoverEnter1()">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 div-s-img">
              <img [src]="image2" class="s-img" (mouseenter) = "onHoverEnter2()">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 div-s-img">
              <img [src]="image3" class="s-img" (mouseenter) = "onHoverEnter3()">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 div-s-img">
              <img [src]="image4" class="s-img" (mouseenter) = "onHoverEnter4()">
          </div>
      </div>

    </div>

    <div class="col-md-7 l-columnd">
        <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-5">
                <p>Business Type:</p>
              </div>
              <div class="col-md-7 col-sm-6 col-xs-6">
                <p>Manufacturer</p>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-1">

              </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Location:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>Guangdong, China (Mainland)</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Main Products:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>Silicone products,Plastic products,Silicone bakeware,Silicone ice tray,Silicone kitchenware</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Total Employees:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>	11 - 50 People</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Total Annual Revenue:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>	Below US$1 Million</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Year Established:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>2014</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Top 3 Markets:</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>North America 30.00%</p>
              <p>Western Europe 20.00%</p>
              <p>Northern Europe 10.00%</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Certifications (1):</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>BSCI</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <p>Product Certifications (1):</p>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <p>LFGB</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
              <p>Jiangmen Tops Silicone Plastic Co.,LTD.</p>
              <p [ngClass]="readMore"> Jiangmen Tops Silicone Plastic Co.,LTD. ( Predecessor: Jiangmen Tops Silicone Plastic Factory) was established in 2005 with more than 1000 square meters of production area. 
                  As a professional silicone plastic factory, through years of development and self-improvement we already have the most advanced production machines, professional management team, creative R&D department and technical production team.
                  On the way of development and management, we will keep up with the times and creative mind all along to ensure the good quality and enrich the products. Make every effort to realize our dream.
                  Warmly welcome the customers from all over the world to visit our factory for friendly cooperation and mutual benefit!</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 see-more">
              <br>
              <a href="javascript:;" (click) = "clickMore()" [style.display]="hideMore">see more</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="javascript:;" (click) = "clickLess()" [style.display]="hideLess">see less</a>
            </div>
        </div>
        
    </div>
  </div>
</div>

</div>


</body>